<%- include('./partials/header.ejs') %>
    <div class="head w-full px-20 py-10">
        <h2 class="text-2xl mb-4">Hey, <%= user.username %> 👋🏻 </h2>
        <h5 class="text-xs opacity-50 mb-5">Your all hisaabs are here....</h5>
        <div>
            <form class="filter flex flex-wrap mb-10 gap-3" action="/profile" method="get">
                <div class="btn px-4 py-2 flex items-center gap-4 font-medium text-sm text-zinc-500 bg-zinc-200 rounded-md">
                    Filters <i class="ri-sound-module-fill "></i></div>
                <div id="bydate"
                    class="btn px-4 py-2 flex items-center gap-4 font-medium text-sm text-zinc-500 bg-zinc-200 rounded-md">
                    By Date <i class="ri-calendar-line"></i></div>
                <div class="hidden dates flex gap-5 items-center">
                    <input class="btn bg-zinc-200 text-sm px-4 py-2 rounded-md" name="startDate" type="date">
                    <input class="btn bg-zinc-200 text-sm px-4 py-2 rounded-md" name="endDate" type="date">
                </div>
                <select class="outline-none" name="byDate" id="">
                    <option value="-1">Newest First</option>
                    <option value="1">Oldest First</option>
                </select>
                <input class="btn px-6 py-2 bg-blue-500 text-white rounded-md" type="submit" value="Filter">
            </form>
        </div>
        <div class="hisaabDiv flex px-10 gap-10 flex-wrap">
            <% user.hisaab.forEach(function(hisaab){ %>
                <div class="card bg-zinc-100 min-w-96 p-3 px-5 rounded-md">
                    <div class="flex justify-between items-center">
                        <div class="featuresBtn flex justify-center gap-2 items-start">
                            <% if(hisaab.encrypted){ %>
                                <div class="btn px-3 py-2 rounded-md flex gap-2 items-center bg-blue-500 text-white">
                                    <i class="text-xs ri-lock-2-line"></i>
                                    <h3 class="text-sm">Encrypted</h3>
                                </div>
                                <% } else { %>
                                    <div class="btn px-3 py-2 rounded-md flex gap-2 items-center bg-teal-600 text-white">
                                        <i class="text-xs ri-check-line"></i>
                                        <h3 class="text-sm">Available</h3>
                                    </div>
                                    <% } %>
                                        <% if(hisaab.shareable){ %>
                                            <div
                                                class="btn px-3 py-2 rounded-md bg-zinc-300/70 flex items-center justify-center">
                                                <i class="ri-share-line"></i>
                                            </div>
                                            <% } %>
                        </div>
                        <h3 class="date text-xs ml-2 relative text-zinc-400">Created on <%= hisaab.createdAt.getDate() %> - <%=
                                    hisaab.createdAt.getMonth() %> - <%= hisaab.createdAt.getFullYear() %>
                        </h3>
                    </div>
                    <div class="btn mt-3">
                        <h3 class="font-medium text-lg">
                            <%= hisaab.title %>
                        </h3>
                        <a class="btn text-zinc-400 text-sm " href="/hisaab/view/<%= hisaab.id %>">View hisaab <i class="ri-eye-line"></i></a>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>

    <script>
        document.querySelector("#bydate")
            .addEventListener("click", function (event) {
                if (document.querySelector(".dates").classList.contains("hidden")) {
                    document.querySelector(".dates").classList.remove("hidden");
                }
                else {
                    document.querySelector(".dates").classList.add("hidden");
                }
            })
    </script>
<%- include('./partials/footer.ejs') %>